/* navigation section */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* homesection */
#home{
  height:   370px;
  padding:3px 50px;
}
#home h1{
    font-size: 20px;
}
#home::before{
    height: 480;
}
#home p{
    font-size: 12px;
}

/* services section */
#services{
    flex-direction: column;
}
#services img{
    width: 60%;
}

/* clientsection */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 55px;
    padding: 1px 3px;
   height: auto;
}
#client-section::before {
    height: 70%;

/* contact section */
#contact-box form{
    
    width: 80%;
}
#contact h1{
    margin-top: 40px;
    font-size: 20px;
}

 #contact::before{
  
margin-top: 20px;
     height: 100%;
 


/* footersection */

/* utlityclases */

.h-primary{
    font-size: 22px;
}